<!doctype html>
<html>
    <head>
        <title>Meetup Event Fetcher</title>
    </head>

    <body>
        <%= yield %>

        <script src="/js/vendor/jquery-1.11.3.js"></script>
        <script src="/js/meetup.js"></script>

        <script>
            $('#dbc-chicago-events-list').meetupEventFetcher({
                groupName: 'Chicago-DevBootcamp-Speaker-Series',
                sigId: 145924542,
                sig: 'cb896554dd276f6f96dd553a21991866442a76c9'
            });

            // TODO: change groupName to DBC-NYC?
            $('#dbc-nyc-events-list').meetupEventFetcher({
                groupName: 'DBCx-NYC',
                sigId: 145924542,
                sig: 'bef28184f250102d74b824425bcc1860f17519a8'
            });

            $('#dbc-sf-events-list').meetupEventFetcher({
                groupName: 'DBCx-SF-Dev-Bootcamp-San-Francisco-Open-Learning',
                sigId: 145924542,
                sig: '466e0496a29517e76fea5f07ada41d6e3c12a4b5'
            });
        </script>
    </body>
</html>